/* Inicio Index */
html{
  background-color: rgba(255,255,255, 0.8);
}

.divCheck{
  /*margin-top: 10px;*/
  margin-bottom: 5px!important;
}

.result,.tit{
  text-align: left;
  margin-top: 50px;
  max-width: 50%;
  margin-left: 25%;
}

.titulo_articulo_encontrado, .result-keywords{
  text-align: left;
}

.titulo_articulo_encontrado{
  margin-top: 10px;
}

.result-keywords{

  font-style: italic;
}

.contenedor
{
  width: 100%;
}

.titulo_index, .subtitulo_index{
  text-align: center;
  color: rgb(0,0,0);
}
.formatimg-div{
  display: block;
  text-align: center;
  width: 100%;
  margin: 0px;
}
.formatimg{
  max-width: 150px;
}
.titulo_form{
  margin-top: 0px;
  margin-bottom: 35px;
  text-align: center;
  font-family: inherit;
  /*font-size: inherit;*/
}
.style_button{
  height: 50px;
  width: 100px;
  text-align: center;
}

.estiloForm{
  margin-top: 50px;
  max-width: 50%;
  background-color: rgb(255,255,255);
  padding:30px 50px;
  border:3px solid gray;
  border-radius:10px;
  margin-left: 25%;
}

.tit-indoor-form{
  margin-bottom: 25px!important;
  margin-top: 10px!important;
}

.tit-filters, .tit-input-buscar{
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: bold;
}

.estilo_check{
  font-family: inherit;
  font-weight: lighter;
}


input[type=text], select {
    width: 100%!important;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.estiloForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.textarea_form{
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.btn_send{
  margin-top: 30px!important;

}





















/* Fin index */
