  html{
  font-family: 'Work Sans', sans-serif;
  font-family: 'Roboto', sans-serif !important;
}
body{
  background-color: #EEE;
}

input:focus, input:hover {
  outline: none;
  background: rgba(255,255,255,0.6);
  border-bottom: 2px solid #FF9800;
  line-height: 50px;
}

td {
  background: rgba(255,255,255,0);
  transition: 0.4s ease-in-out;
}
td:hover {
  background: rgba(255,152,0,0.7);
  color: #FFF;
}

.btn {
  box-shadow: none;
  border-radius: 0px;
}

.sidebar{
  background-color: #555;
  height: 100%;
  padding: 20px;
  color: #FFF;
}

.side_section{
  margin:20px 0px 0px;
  padding: 0px;
  transition: 0.4s ease-in-out;
}
.side_section h4{
  cursor: pointer;
}
.side_section:hover{
  margin:20px 20px 0px;
}

.content{
  padding:0px;
  margin:0px;
  height: 100%;
  overflow:hidden;
}

.infield_icon{
  padding: 20px 0px;
}
.infield_search{
  //width:88%;
  //margin-left: 15px;
  background: rgba(255,255,255,0);
  line-height: 30px;
  padding: 5px 10px;
  border:none;
  border-bottom: 2px solid #EEE;
  transition: 0.4s ease-in-out;
}

.rot90fwd{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.rot90bkw{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.chkOption{
  display:none;
  color:#FFF;
  transition: 0.4s ease-in-out;
}
.chkOption:hover{
  cursor: pointer;
  margin-left:15px;
  color: #FF9800;
}

.checkbox-custom, .checkbox-custom-label{
  display: inline-block;
  vertical-align: middle;
  margin: 5px 30px;
  cursor: pointer;
  position: relative;
  font-weight: normal;
  color: #FFF;
  transition: 0.4s ease-in-out;
}

.checkbox-custom + .checkbox-custom-label:before{
  content: '';
  background: #FFF;
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  transition: 0.4s ease-in-out;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #FF9800;
}

.checkbox-custom:focus + .checkbox-custom-label:hover{
  outline: none;
  color: #FF9800;
}

.img-background{
  width:100%;
  filter: blur(5px);
  position: absolute;
  z-index:-1;
  opacity:0.5;
}

.side-panel{
  margin: 0px;
  padding: 10px;
  width: 0%;
  height: 100%;
  opacity:0;
  background-color: rgba(255, 255, 255, 0.9);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  bottom:0;
	z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  padding:10px 15px;
  margin-top:25px;
  font-weight: 700;
  color: white;
  background-color: #FF9800;
  display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #FF9800;
  cursor: pointer;
}

.scrollable {
  max-height: 50%;
  overflow-y: auto;
}
.lampform {
  margin-top: 40px;
}
.inptDel {
  padding:12px 18px;
}
.inptform{
  padding:10px 18px;
  margin-left: 20px;
  line-height: 12px;
  border:none;
  border-bottom: 2px solid #FF9800;
  transition: 0.4s ease-in-out;
}
.inptform:focus, .inptform:hover{
  line-height: 12px;
  background-color: #FF9800;
  color:#FFF;
}

.table {
  margin-top:20px;
}

.paramList{
  color: #FF9800;
  cursor:pointer;
}

#activefilters{
  display:none;;
}

#addLamps, #saveLamps {
  font-size: 1.25em;
  padding:10px 15px;
  margin:25px 0px 0px 20px;
  font-weight: 700;
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  h4, label, input{
    font-size: 2em;
  }
  .checkbox-custom + .checkbox-custom-label:before{
    width: 18px;
    height: 18px;
  }
}
